<PageTitle @title="Welcome to my Shop"/>

<div class="product-grid">
	
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	<LinkTo @route="detail">
		<article>
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Dark_Side_of_the_Moon.png/220px-Dark_Side_of_the_Moon.png" alt="Dark Side of the Moon">
			<h2>Product Name</h2>
			<p>$30 USD</p>
			<p>Lorem Ipsum Dolor sit amed</p>
		</article>
	</LinkTo>
	


</div>